<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>Loan Predictor</title>
  </head>

  <body>
    <div class="mail">
      <center>
      <h2>LOAN PREDICTOR FORM</h2>
      <h5>Fill the form to predict</p>
      </center>

      <form action="submit.html" method="post">
        <h3>
          <label>Name (in Caps)</label>
          <input type="text" required="" />
          <br />
          <label>Gender (Male/Female)</label>
          <input type="text" required="" />
          <br />
          <label>Married(Yes/No)</label>
          <input type="text" required="" />
          <br />
          <label>Dependents (Enter a number)</label>
          <input type="number" required="" />
          <br />
          <label>Education (Degree)</label>
          <input type="text" required="" />
          <br />
          <label>Self Employed (Yes/No)</label>
          <input type="text" required="" />
          <br />
          <label>Applicant Income (Enter a number without commas)</label>
          <input type="number" required="" />
          <br />
          <label>Co-Applicant Income (Enter a number without commas)</label>
          <input type="number" required="" />
          <br />
          <label>Loan Amount (Enter a number without commas)</label>
          <input type="number" required="" />
          <br />
          <label>Loan Amount Term (Enter a number in years)</label>
          <input type="number" required="" />
          <br />
          <label>Credit History (Yes/No)</label>
          <input type="text" required="" />
          <br />
          <label>
            Property Area (Enter a number without comma, If none - Enter 0)
          </label>
          <input type="text" required="" />
          <br />
        </h3>

        <div class="container">
          <a href="submit.html">
            <center>
              <submit class="submit" data-hover="Loan Predictor">
                  <input type="submit" name="submit" value="Submit">
              
              </submit>
            </center>
          </a>
        </div>
      </form>
    </div>
  </body>
</html>
