<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>LOAN PREDICTION</title>
  </head>

  <body>
    <main>
      <div class="mail">
        <center>
          <h1>Loan Approval Prediction</h1>
          <h3>{{Check}}</h3>
        </center>
      </div>
    </main>
  </body>
</html>
